* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0f172a;
  color: white;
  font-family: Inter, Arial, sans-serif;
}

#root {
  width: 100%;
  min-height: 100vh;
}

textarea {
  resize: none;
  outline: none;
}

button {
  transition: all 0.3s ease;
}

button:hover {
  transform: translateY(-2px);
  opacity: 0.95;
}
